* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    height: 100vh
}

.header {
    display: flex;
    top: 0;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: #171717;
}

.logoClass {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.fa-brands {
    color: yellow;
    font-size: 20px;
}

.logo {
    color: white;
    text-shadow: 2px 2px black;
    font-style: italic;
    font-weight: bolder;
    margin-left: 5px;
}

.header h1 {
    color: white;
}

.userPP {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.fa-sharp {
    color: white;
}

.out {
    padding: 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
}

.sideBar {
    display: flex;
    flex-direction: column;
    left: 0;
    height: 100%;
    width: 150px;
    background-color: #171717;
}

.sideBar button {
    margin-bottom: 20px;
    background-color: #161616;
    border: none;
}

.sideBar p {
    font-size: 20px;
    color: white;
}

a {
    text-decoration: none;
}

.under {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
}

.elements {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.element {
    flex: 1;
    flex-basis: 30%;
    border: solid white 2px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.under_element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 50px;
}

@media(max-width: 568px) {
    .under {
        display: flex;
        flex-direction: column;
    }
    .sideBar {
        height: 60px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .sideBar button {
        width: 100px;
        margin-bottom: 0px;
    }
    .elements {
        height: 100%;
    }
    .header h1 {
        font-size: 25px;
    }
    .logoClass {
        margin-left: 10px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}